* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    color: white;
}

body {
    background-color: rgb(10, 5, 1);
}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: inline-block;
    margin: 20px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    padding: 10px 20px;
    margin: 10px 0;
}
nav ul li:hover{
    background-color: rgb(32, 17, 4);

}
.con {
    background-color: rgb(250, 144, 33);
    border-radius: 10px;
    height: 50px;
    width: 130px;
}
.con:hover{
    background-color: rgb(207, 126, 34);
    cursor: pointer;
}

nav ul li a,
nav ul .con a {
    text-decoration: none;
    font-weight: 600;
}

.main_games {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    height: 500px;
    width: 100%;
}

.main_games .main_img {
    width: 40%;
}

.main_games .main_img .joystick {
    position: relative;
    width: 100%;
    top: -180px;
    right: 0%;
    height: 600px;
}

.main_games .main_img .unity {
    position: relative;
    top: 20%;
    left: -70px;
}

.main_games .main_img .cry {
    position: relative;
    top: 70%;
    left: -45%;
}

.main_games .main_img .unreal {
    position: relative;
    top: -120%;
    left: 60%;
}

.about_main {
    background-image: url('images/Rectangle 6.png');
    background-position: right;
    background-size: 50%;
    background-repeat: no-repeat;
    margin: 0 60px;
    height: 600px;
}

.about_games,
.main_games .games {
    width: 40%;
    padding: 30px;
}

.about_main .about_games h2,
.indus .ind_text h3 {
    font-size: 40px;
    padding: 40px 0;
}

.games p,
.about_games p {
    line-height: 2;
}

.games h2,
.about_games h2 {
    font-size: 50px;
    padding: 20px 0;
    font-weight: bold;
}

.contact_main .contact_text h1,
.about_main .about_games h1,
.indus .ind_text h2 {
    font-size: 10px;
}

.contact_main .contact_text h1 span,
.about_main .about_games h1 span {
    color: rgb(250, 144, 33);
}

.main_games .games h1 {
    color: rgb(250, 144, 33);
    font-size: 20px;
    padding: 20px 0;
}

.games .btn,
.about_games .btn {
    height: 50px;
    width: 190px;
    border-radius: 30px;
    margin: 50px 0;
    background-color: rgb(250, 144, 33);
}
.games .btn:hover,
.about_games .btn:hover{
    background-color: rgb(207, 126, 34);
    cursor: pointer;
}
.trending_games {
    margin: 150px 20px;
}

.trending_games .trending_text {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.trending_games .trending_text .btn-see {
    background-color: rgb(37, 32, 29);
    width: 90px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgb(37, 32, 29);
}
.trending_games .trending_text .btn-see:hover{
    background-color: rgb(58, 50, 45);
    cursor: pointer;
}

.trending_games .autoplay {
    max-width: 90%;
    max-height: 600px;
    margin: auto;
}

.trending_games .autoplay img {
    padding: 0 20px;
}

.trending_games .autoplay p {
    text-align: center;
}

.text {
    margin: auto;
    text-align: center;
    width: 700px;
}

.spiderman {
    margin: 100px;
}

.spiderman .spi_text {
    width: 40%;
}

.spiderman .spi_text p {
    padding: 40px 0;
    line-height: 2;
}

.game_dev {
    margin: 50px 0;
    padding: 50px;
    background-image: url('images/Rectangle\ 5.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.game_dev .game_sub {
    display: inline-block;
    margin: 40px;
}

.game_dev .game_sub p {
    padding: 20px;
    font-size: 15px;
}

.game_dev h2,
.game_dev p {
    padding: 20px;
    width: 70%;
    margin: auto;
}

.container .container_text {
    margin: auto;
    text-align: center;
    padding: 20px;
}

.container .container_text p {
    padding: 30px;
}

.container {
    max-width: 1170px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container .gallery a img {
    margin: 2px;
    -webkit-transition: -webkit-transform .15s ease;
    -moz-transition: -moz-transform .15s ease;
    -o-transition: -o-transform .15s ease;
    -ms-transition: -ms-transform .15s ease;
    transition: transform .15s ease;
    position: relative;
}

.container .gallery a:hover img {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    z-index: 5;
}

.container .gallery a.big img {
    width: auto;
    height: 223px;
}

.main_loop {
    margin: 50px;
}

.main_loop h2,
.main_loop p {
    width: 30%;
    padding: 15px;
}

.main_loop .loop .loop_text h2,
.main_loop .loop .loop_text p {
    width: 600px;
    padding: 10px;
}

.main_loop .loop {
    border-radius: 20px;
    background-color: rgb(28, 20, 15);
    padding: 30px;
    display: flex;
    height: 180px;
    justify-content: space-between;
    margin: 40px 20px;
}

.main_loop .loop .loop_cont {
    width: 400px;
    height: 60px;
    background-color: white;
    padding: 10px;
    margin: 30px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.main_loop .loop .loop_cont #inp_loop_cont {
    border: none;
    padding: 10px;
    color: black;
    width: 100%;
}

.main_loop .loop .loop_cont .btn_con {
    background-color: rgb(250, 144, 33);
    border-radius: 10px;
    width: 100px;
    height: 40px;
    border: 1px solid white;
}
.main_loop .loop .loop_cont .btn_con:hover{
    background-color: rgb(207, 126, 34);
    cursor: pointer;
}

footer {
    background-color: black;
    margin: 100px 0 0 0;
}

footer .upr_footer {
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}

footer .upr_footer ul {
    width: 300px;
}

footer .upr_footer .logo_sec li {
    padding: 10px;
}

footer .upr_footer ul h3 {
    padding: 10px;
}

footer .upr_footer .abt_sec {
    padding-left: 80px;
}

footer .upr_footer .abt_sec li {
    padding: 5px;
}

footer .upr_footer ul li {
    list-style: none;
    padding: 10px;
}

footer .upr_footer .icon_sec {
    margin: 100px 0 0 20px;
}

footer .upr_footer .icon_sec li {
    background-color: white;
    display: inline-block;
    margin: 5px;
    padding: 10px;
    width: 40px;
    border-radius: 100%;
}

footer .upr_footer .icon_sec li i {
    color: black;
    font-size: 20px;
}

footer .lwr_footer {
    text-align: center;
    border-top: 1px solid grey;
    padding: 20px;
    font-size: 0.8em;
}


/* about */

.work {
    margin: 50px 30px;
}

.work .sub_work {
    border-radius: 20px;
    background-color: rgb(28, 20, 15);
    padding: 30px;
    display: inline-block;
    width: 370px;
    height: 340px;
    margin: 50px 20px;
}

.work .sub_work h3 {
    padding: 30px 0;
}

.work .sub_work p {
    line-height: 2;
}

.work .sub_work .btn_work1,
.work .sub_work .btn_work2,
.work .sub_work .btn_work3 {
    width: 140px;
    height: 40px;
    border-radius: 10px;
    border: 1px;
}

.work .sub_work .btn_work1 {
    background-color: rgb(44, 18, 38);
}

.work .sub_work .btn_work2 {
    background-color: rgb(49, 25, 13);
}

.work .sub_work .btn_work3 {
    background-color: rgb(25, 42, 29);
}

.indus {
    margin: 50px 0;
    padding: 50px;
    display: flex;
    background-color: rgb(28, 20, 15);
}

.indus .ind_text {
    width: 50%;
    padding: 0 50px;
    margin: 20px 50px;
}

.indus .ind_text p {
    padding: 20px 0;
    line-height: 2;
}

.team {
    margin: 50px 20px;
}

.team h2 {
    padding: 20px;
}

.team .team_sub {
    display: inline-block;
    background-color: rgb(28, 20, 15);
    height: 250px;
    width: 270px;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    margin: 20px;
}

.team .team_sub p {
    padding: 10px;
}

/* contact */
.contact_main {
    margin: 50px;
}

.contact_main .contact_text {
    width: auto;
    margin: auto;
    text-align: center;
}

.contact_main .contact_text h2 {
    padding: 20px 0 10px 0;
}

.contact_main .contact_text p {
    font-size: 12px;
}

.contact_main .global {
    margin: auto;
    width: 1000px;
}

.contact_main .global img {
    padding: 50px 0;
    width: 1000px;
    height: 580px;
}

.contact_main .details {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 90%;
}

.contact_main .details .follow p {
    padding: 10px;
}

.contact_main .details .follow .icon_sec li {
    display: inline-block;
    margin: 5px;
    padding: 10px 10px 10px 15px;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: rgb(28, 20, 15);
}

.contact_main .details .follow .icon_sec li i {
    font-size: 15px;
    text-align: center;
}

.contact_main .details div {
    width: 35%;
}

.contact_main .details .phone,
.contact_main .details .location {
    display: flex;
    border: 1px;
}

.contact_main .details .phone {
    border-left-style: solid;
    border-right-style: solid;
    padding: 40px 0px 30px 80px;
    text-align: center;
}

.contact_main .details .location {
    padding: 30px;
}

.contact_main .details .phone i,
.contact_main .details .location i {
    font-size: 20px;
    padding: 0 20px;

}